.albumImage{
    width: 60%;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;

}

.albumImage img {
    border-radius: 25px;
    width: 100%;
    aspect-ratio: 1;
}

.albumImage-shadow {
    -webkit-filter: blur(10px);
    filter: blur(10px);
    width: 83%;
    position: absolute;
    z-index: -1; 
    top: 20px;

}